node_Mods/*
**/node_Mods
node_Mods
.DS_Store
#*#

*.log
*.swp

*.Po
*.lo

*~
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.class
*/**/ios/
*/**/android/
ios/build/*
android/build/*
android/app/build/*
*.pcm
yarn.lock
*-debug.apk
*-release.apk
.gradle/
__pycache__/
.idea/
*.pyc
build/*
dist/*
*.egg-info/
z_gen_*.py
*.ipynb_checkpoint*
target
*.lock
.vscode

python/notebook

.dart_tool
.metadata
.flutter-plugins
.flutter-plugins-dependencies
*.iml

#linux
#windows
#web
#macos
#ios
build

lib/generated/